.cre-page {
  padding: 30px;
  margin: var(--header-height) 0;

  &__links-container {
    margin-top: 10px;
  }
}

.cre-page .cre-page {
  &__heading {
    font-size: 2rem;
    margin-bottom: 0px;
  }

  &__sub-heading {
    color: #999;
    margin-top: 0px;
    font-size: 1.2rem;
  }

  &__description {
    width: 50%;
  }

  &__links-header {
    margin-bottom: 10px;
  }

  &__links {
    padding-top: 10px;
  }

  &__links:not(:first-child) {
    padding-top: 20px;
  }
}

.cre-page__links-container.accordion.ui.styled {
  padding-top: 0;
  border: none;
  border-radius: 0;
  margin-top: 0;
  box-shadow: 0 1px 2px 0 rgba(34, 36, 38, .15), 0 1px 0 1px rgba(34, 36, 38, .15);
}

.cre-page__links-container.accordion.ui.styled:nth-child(2) {
  box-shadow: 0 1px 2px 0 rgba(34, 36, 38, .15), 0 0 0 1px rgba(34, 36, 38, .15);
  border-radius: 0.28571429rem 0;
  >.title.external-link {
    padding-top: .75em;
    padding-bottom: .25em;
  }
}

.cre-page__links-container.accordion.ui.styled:last-child {
  border-radius: 0 0.28571429rem;
  >.title.external-link {
    padding-bottom: .75em;
  }
}

.cre-page__links-container.accordion.ui.styled 
{
  >.title.external-link {
    padding-top: 0;
    padding-bottom: .25em;
  }
  
  >span+.title.external-link {
    border-top: none;
  }

}

@media (max-width: 768px) {
  .cre-page {
    padding: 1rem; /* Reduce from 30px to prevent content touching edges */

    &__description {
      width: 100%; /* Expand from 50% - too narrow on small screens */
    }

    &__heading {
      font-size: 1.5rem; /* Reduce from 2rem - oversized on mobile */
    }

    &__sub-heading {
      font-size: 1rem; /* Reduce from 1.2rem - proportional for mobile */
    }
  }
}
